* {
	margin: 0;
	padding: 0;
	font-family: pts_r;
	font-size: 16px;
}
@font-face {
	font-family: pts_r;
	src: url(../fonts/pts_r.ttf);
	font-display: swap;
}
@font-face {
	font-family: pts_b;
	src: url(../fonts/pts_b.ttf);
	font-display: swap;
}

	/* common starts */

.c_title {
	padding-bottom: 15px;
	font-size: 32px;
	font-family: pts_b;
	color: #010101 !important;
}
.s_title {
	padding-bottom: 9px;
	font-size: 20px;
	color: #313841 !important;
}
.c_para {
	color: #555555 !important;
}
.s_titles {
	padding: 0 0 40px;
}

	/* common ends */

	/*header starts*/

header {
	background-color: #fcdb00;
	padding: 20px 0;
}
header ul li a{
	padding-right: 50px !important;
	font-size: 22px;
	font-family: pts_b;
	color: #010101 !important;
	transition: 0.3s;
}
header ul li :last-child a{
	padding-right: 0 !important;
}
header ul li a:hover {
	color: #ffffff !important;
}

	/*header ends*/


	/*banner starts*/

.banner {
	background-color: #fcdb00;
	padding-bottom: 70px;
}
.operating_systems {
	padding-top: 10px;
}
.operating_systems li {
	padding-left: 30px;
}
.operating_systems li:first-child {
	padding-left: 0;
} 
.icons {
	font-size: 40px;
	color: #010101;
}

	/*banner ends*/


		/*services starts*/

.services {
	padding: 70px 0;
}
.service {
	border: none;
}
.card_title {
	font-size: 22px;
	font-family: pts_b;
	color: #010101;
}

		/*services ends*/


		/*contact starts*/

.contact {
	padding: 70px 0;
	background-color: #232527;
}
.contact_title {
	color: #fcdb00 !important;
}
form input {
	color: #898989;
}
form input::placeholder {
	color: #898989;
}
.input:focus {
  color: #898989 !important;
  background-color: #fff;
  border: none !important;
  border-color: none !important;
  outline: 0;
  box-shadow: none  !important;
}
.button {
	font-family: pts_b;
  	border: none !important;
  	border-color: none !important;
  	outline: 0;
  	box-shadow: none  !important;
  	transition: 0.3s;
}
.button:hover {
	background-color: #010101;
	color: #fff;
}
.social_icons .icons {
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 10px;
	background-color: #fcdb00;
	cursor: pointer;
	transition: 0.3s;
}
.social_icons .icons:hover {
	border-radius: 50%;
}
.social_icons .icons i {
	font-size: 35px;
	color: #010101;
	transition: 0.3s;
}
.social_icons .icons i:hover {
	color: #fff;
}


		/*contact ends*/


		/*footer starts*/

footer {
	padding: 0 0 70px;
	background-color: #232527;
}
.f_address, .f_links {
	list-style: none;
	font-size: 16px;
	font-family: pts_r;
	color: #fff;
}
.f_address a, .f_links a {
	text-decoration: none;
	font-size: 16px;
	font-family: pts_r;
	color: #fff;
}


		/*footer ends*/